@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding-top: 6rem;
  padding-bottom: 4rem;

  @include respond(phone) {
    width: 100%;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    padding-top: 3.6rem;
    padding-bottom: 1.2rem;
  }
}

.button {
  padding: 1.2rem 0;
  border: 2px solid $color-gold;
  color: $color-gold;
  font-size: 2rem;
  transition: 0.2s background, 0.2s color;

  &:hover {
    background: $color-gold;
    color: $color-purple-gray;
  }
}
