$color-blue: #002b7a;
$color-blue-light: #8a9ec2;

$color-purple: #62268b;
$color-purple-dark: #35164a;

$color-red: #ff1b1b;
$color-gold: #ffba11;

$color-gray: #f0f0f0;
$color-white: #ffffff;
$color-black: #000000;
