@use '@styles/colors' as *;

.curve {
  fill: transparent;
  stroke: $color-white;
}

.gold {
  stroke: $color-gold;
}

.red {
  stroke: $color-red;
}

.blue {
  stroke: $color-blue;
}

.blue-light {
  stroke: $color-blue-light;
}
