@use '@styles/colors' as *;

.cross {
  width: 3.2rem;
  height: 3.2rem;
  fill: $color-gray;
  cursor: pointer;
  transition: 0.2s transform, 0.2s fill;

  &:hover {
    transform: scale(1.2);
    fill: $color-gray-dark;
  }
}
