@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.profile {
  display: flex;
  flex-direction: column;
}

.avatar {
  position: relative;
  width: 33.2rem;
  height: 32.4rem;
  background: $color-purple-dark;

  @include respond(tab-land) {
    width: 22rem;
    height: 21.5rem;
  }

  @include respond(phone) {
    width: 15.4rem;
    height: 15.1rem;
  }
}

.emoji {
  position: absolute;
  display: inline-block;
  font-size: 12rem;
  font-weight: 700;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(90deg);

  @include respond(tab-land) {
    font-size: 10rem;
  }

  @include respond(phone) {
    font-size: 8rem;
  }
}

.name,
.mern {
  position: absolute;
  left: 0;
  font-size: 3.2rem;
  font-weight: 700;

  @include respond(tab-land) {
    display: none;
  }
}

.name {
  top: 0;
  transform: translateY(calc(-100% - 0.8rem));
}

.mern {
  bottom: 0;
  transform: translate(calc(-68% - 0.8rem), -2.9rem) rotate(-90deg);
}

.emphasizing {
  width: 100%;
  height: 2.8rem;
  background: $color-red;
  margin-top: 2.4rem;

  @include respond(tab-land) {
    display: none;
  }
}

.blue-broken-curve {
  position: absolute;
  top: 50%;
  right: -5.8rem;
  transform: translate(60%, -50%) rotate(-90deg);
  width: 5.9rem;
  height: 1.6rem;
  stroke-width: 2px;

  @include respond(tab-land) {
    display: none;
  }
}
