@use '@styles/mixins' as *;

.wrapper {
  width: 4.6rem;
  height: 3.2rem;

  @include respond(tab-port) {
    width: 22.4rem;
    height: 14.2rem;
  }

  @include respond(phone) {
    width: 8.4rem;
    height: 5rem;
  }
}

.little-curve {
  fill: none;
  stroke-width: 4px;

  @include respond(tab-port) {
    stroke-width: 1px;
  }

  @include respond(phone) {
    stroke-width: 2.5px;
  }
}
