@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.github {
  fill: $color-blue-light;
  height: 2.4rem;
  cursor: pointer;
  transition: 0.2s fill, 0.2s transform;

  &:hover {
    fill: $color-github-light;
    transform: scale(1.2);
  }

  @include respond(phone) {
    height: 3.2rem;

    &:hover {
      fill: $color-github-dark;
      transform: scale(1.2);
    }
  }
}
