@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.section {
  display: flex;
}

.empty-block {
  width: 24.8rem;
}

// .left {
//   display: flex;
//   flex-direction: column;
//   margin-right: 10.4rem;
// }

.column {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
  max-width: 116.2rem;
  height: 81.4rem;
  background: $color-blue;
  padding-top: 6.4rem;
  margin-top: 6rem;
  box-shadow: 0 5px 15px rgba($color-black, 0.75);

  @include respond(tab-land) {
    // display: flex;
    // justify-content: center;

    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-auto-rows: minmax(min-content, max-content);
    justify-content: center;
    column-gap: 10.4rem;
    // column-gap: ;

    width: 100%;
    height: unset;
    padding-bottom: 6.8rem;
    margin-top: 0;
  }

  @include respond(tab-port) {
    column-gap: 2rem;
    padding-bottom: 1.2rem;
    // grid-template-columns: minmax(min-content, max-content) min-content;
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond(phone) {
    padding-top: 2.4rem;
    box-shadow: 0 2px 8px rgba($color-black, 0.5);
  }
}

.header {
  font-size: 4rem;
  font-weight: 700;
  margin-left: 4.8rem;

  @include respond(tab-land) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-left: 0;
    margin-bottom: 4rem;
  }

  @include respond(tab-port) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: center;

    margin-left: 0;
    margin-bottom: 4rem;
  }

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.about {
  position: absolute;
  left: 15rem;
  top: 55%;

  display: flex;
  font-size: 2rem;
  line-height: 3.6rem;
  width: 46rem;

  transform: translateY(-100%);

  &::before {
    content: '';
    width: 3.6rem;
    margin-right: 2rem;
    background: $color-gold;
  }

  @include respond(tab-land) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;

    position: static;
    transform: none;
    margin-bottom: 2rem;

    &::before {
      background: $color-red;
    }
  }

  @include respond(tab-port) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;

    flex-direction: column-reverse;
    margin-top: 3.2rem;
    margin-bottom: 7.2rem;
    width: 44rem;

    &::before {
      width: 100%;
      margin-top: 3.2rem;
      margin-right: 0;
      height: 1.2rem;
    }
  }

  @include respond(phone) {
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 33rem;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;

    &::before {
      display: none;
    }
  }
}

.motto {
  position: absolute;
  color: $color-gold;
  bottom: 0.8rem;
  left: 0.8rem;
  font-size: 2rem;
  font-weight: 700;

  @include respond(tab-land) {
    $curve-margin: 0.8rem;
    $curve-width: 4.6rem;

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: flex-end;

    position: static;
    padding-left: $curve-width + $curve-margin + 0.8rem;
  }

  @include respond(tab-port) {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    padding-left: 0rem;
    justify-self: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.gold-broken-curve,
.red-broken-curve,
.white-broken-curve {
  position: absolute;
  transform: rotate(58deg);
  width: 5.9rem;
  height: 1.6rem;
  stroke-width: 2px;
}

.gold-broken-curve {
  bottom: 6.4rem;
  right: 13.2rem;
}

.red-broken-curve {
  top: 19.2rem;
  left: 22.5rem;
}

.white-broken-curve {
  top: 10.4rem;
  right: 34.7rem;
  transform: rotate(140deg);
}

.gold-rhombs-set,
.red-rhombs-set {
  position: absolute;
  column-gap: 0.76rem;
  row-gap: 0.76rem;

  & > * {
    width: 0.4rem;
    height: 0.4rem;
    transform: rotate(65deg);
  }
}

.gold-rhombs-set {
  bottom: 3.6rem;
  right: -7.2rem;
  transform: translateX(100%) rotate(-20deg);

  & > * {
    background: $color-gold;
  }
}

.red-rhombs-set {
  top: 0rem;
  right: -13.2rem;
  transform: translate(100%, -50%) rotate(-20deg);

  & > * {
    background: $color-red;
  }
}

.pyramid {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: flex-end;

  margin-bottom: 1.6rem;

  @include respond(tab-port) {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    margin-bottom: 5.6rem;
  }

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.name {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: block;
  text-align: center;
  margin-top: 2rem;
  font-size: 2.8rem;
  font-weight: 700;

  @include respond(tab-port) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: left;
    justify-self: center;
    align-self: center;
    transform: translate(-1.6rem, -2rem);

    & > *:last-of-type {
      display: block;
      margin-top: 1.6rem;
    }
  }

  @include respond(phone) {
    align-self: flex-start;
    margin-top: 1.6rem;
    font-size: 2.4rem;
    transform: none;

    & > *:last-of-type {
      margin-top: 1.2rem;
    }
  }
}
