@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.navigation {
  display: flex;

  @include respond(phone) {
    justify-content: flex-end;
  }
}

.list {
  display: contents;
}

.item {
  &:not(:last-of-type) {
    margin-right: 2.4rem;
  }
}

.link {
  display: inline-block;
  color: #c4c4c4;
  font-size: 2rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #c4c4c4;
  transition: 0.2s color, 0.2s border-color;

  &:hover {
    color: $color-purple;
    border-color: $color-purple;
  }
}
